# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
bin/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
man/
include/
tcl/
venv/
venv3/
.venv/
ENV/
*.pyc
*.pyo
*.un~
*.py~
.idea/
*.egg-info/
*.egg
dist/
.eggs/
doc/
.coverage
.installed.cfg
pip-selfcheck.json
.local
local/

# django
*.sqlite3
staticfiles/
